@import url('https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css');
@import url('https://use.fontawesome.com/releases/v6.6.0/css/all.css');

:root {
    --body-margin-v: 20px; /* Used to calculate body height */
    --body-margin-h: 40px;
    --body-margin: var(--body-margin-v) var(--body-margin-h);
    --body-padding: 20px; /* Used to calculate fractional paddings & some margins throughout the page */
    --body-padding-fraction-l: calc(var(--body-padding) / 2);
    --body-padding-fraction-s: calc(var(--body-padding) / 5);

    --border-ui-width: 1px; /* Used to calculate padding & margin for headings */
    --border-ui-style: solid;
    --border-primary-rise: rgba(255, 255, 255, 0.2);
    --border-primary-sink: rgba(0, 0, 0, 0.2);
    --border-secondary-rise: rgba(255, 255, 255, 0.6);
    --border-secondary-sink: rgba(0, 0, 0, 0.3);

    --logo-width: 160px; /* Original: 320px */

    --font-size: 12px; /* Used to calculate fake h1 line-height in 'Documentation' */
    --font-default: var(--font-size)/1.5 "Verdana Pro", "Verdana", sans-serif;
    --font-mono: 12px/1.4 "SF Mono", "Consolas", monospace;
    --text-shadow: Black 1px 1px;

    --color-highlight-text: White;
    --color-heading-background: #9A97D0; /* US Y/X buttons */
    --color-heading-text: var(--color-highlight-text);

    --color-primary-background: #231E3C; /* US B/A buttons darker */
    --color-primary-text: #B2B4B2; /* SNES body */
    --color-primary-link: #FABA0B; /* B button */
    --color-secondary-background: #514689; /* US B/A buttons */
    --color-secondary-text: var(--color-highlight-text);
    --color-secondary-link: var(--color-highlight-text);

    --color-table-head-background: var(--color-secondary-background);
    --color-table-head-text: var(--color-highlight-text);
    --color-table-head-link: var(--color-primary-link);
    --border-table-width: 1px;
    --border-table-color: var(--color-secondary-background);
    --border-table-style: solid;

    --color-status-active: #00387B; /* X button */
    --color-status-done: #007243; /* Y button */
    --color-status-failed: #C1121C; /* A button */
    --color-status-cancelled: #711521; /* Famicom red */
    --color-status-disabled: #8C8F91; /* X button */
    --color-status-noping: var(--color-status-failed);

    --form-checkbox-size: calc(var(--font-size) * 1.333);
}

/* =======
   General
   ======= */
body {
    /* Uncomment next line for vertically stretched navigation */
    /* height: calc(100vh - var(--body-margin-v) * 2); */
    display: flex;
    margin: var(--body-margin);
    text-shadow: var(--text-shadow);
    background: var(--color-primary-background);
}
body, table {
    color: var(--color-primary-text);
    font: var(--font-default);
}
#navigation-container {
    padding: var(--body-padding-fraction-l);
}
#Content {
    flex-grow: 1;
    padding: var(--body-padding);
}
img {
    filter: invert(.9);
}
img[src*="cgi"] {
    padding: var(--body-padding-fraction-s) 0px;
}
strong, dt {
    color: var(--color-highlight-text);
}
code, pre, tt {
    font: var(--font-mono);
    color: var(--color-secondary-text);
}
tt {
    background: var(--color-secondary-background);
    padding: calc(var(--body-padding-fraction-s) / 2) var(--body-padding-fraction-s);
}
pre {
    margin-top: var(--body-padding-fraction-s);
    padding: 0px var(--body-padding-fraction-s);
    background: var(--border-primary-sink);
}
pre:before, pre:after {
    content: "";
    display: block;
    width: 100%;
    height: var(--border-table-width);
    background: var(--color-primary-link);
    white-space: pre;
}
pre:before {
    margin-bottom: var(--body-padding-fraction-l);
}
pre:after {
    margin-top: var(--body-padding-fraction-l);
}

/* =======
   Cleanup
   ======= */
p, ul {
    margin-bottom: unset;
}
h1 + br, /* Single br after h1 in '/index.cgi?action=adminOpts' */
hr,
p:empty,
pre:empty,
span:empty {
    display: none;
}

/* ==========
   UI borders
   ========== */
#navigation-container {
    border-style: var(--border-ui-style);
    border-width: var(--border-ui-width);
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
h1 {
    border-style: var(--border-ui-style);
    border-width: var(--border-ui-width) var(--border-ui-width) var(--border-ui-width) 0px;
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
#Content h2 {
    border-style: var(--border-ui-style);
    border-width: var(--border-ui-width);
    border-color: var(--border-secondary-rise) var(--border-secondary-sink) var(--border-secondary-sink) var(--border-secondary-rise);
}

/* ========
   Headings
   ======== */
h1, h2 {
    font-size-adjust: 0.40; 
    color: var(--color-heading-text);
}

/* h1 */
h1 {
    background: var(--color-secondary-background);
    padding: 0px var(--body-padding-fraction-s) 0px calc(var(--body-padding) + var(--border-ui-width));
}
h1:first-child {
    margin: calc(var(--body-padding) * -1) calc(var(--body-padding) * -1) var(--body-padding) calc((var(--body-padding) * -1) - var(--border-ui-width));
}
h1:not(:first-child) {
    margin: var(--body-padding) calc(var(--body-padding) * -1) var(--body-padding) calc((var(--body-padding) * -1) - var(--border-ui-width));
}

/* h2 */
h2.NavTitle {
    padding-top: var(--body-padding-fraction-l);
    margin-bottom: unset;
}
#Content h2 {
    background: var(--color-heading-background);
    margin-top : calc(var(--body-padding) * 1.5);
    padding: 0px 0px 0px var(--body-padding-fraction-s);
}

/* =======
   Links
   ======= */
a:hover {
    text-decoration: none;
}
/* Primary */
#Content a {
    color: var(--color-primary-link);
}
#Content a:hover {
    color: var(--color-primary-text);
}

/* Secondary */
#navigation-container a {
    display: block;
    line-height: 1.8em;
    white-space: nowrap;
    color: var(--color-secondary-link) !important;
}
#navigation-container a:hover {
    color: var(--color-primary-link) !important;
}

/* Table head */
tr.tableheader a {
    color: var(--color-table-head-link) !important;
}
tr.tableheader a:hover {
    color: var(--color-table-head-text) !important;
}

/* ==========
   Navigation
   ========== */
#NavMenu, .NavMenu {
    height: unset !important;
}
#navigation-container {
    background: var(--color-secondary-background);
    height: 100%;
}
#logo-container img {
    width: var(--logo-width);
}
h2.NavTitle {
    color: var(--color-secondary-text);
}

/* ==========
   Menu inset
   ========== */
.NavMenu a {
    padding: 0px var(--body-padding-fraction-s);
    border-style: var(--border-ui-style);
    background-color: var(--border-primary-sink);
    border-color: var(--border-primary-sink) var(--border-primary-rise) var(--border-primary-rise) var(--border-primary-sink);
}
.NavMenu a:first-child, #NavMenu a:first-of-type {
    padding: var(--body-padding-fraction-s) var(--body-padding-fraction-l) 0px var(--body-padding-fraction-l);
    border-width: var(--border-ui-width) var(--border-ui-width) 0px var(--border-ui-width);
}
.NavMenu a:not(:first-child):not(:last-child) {
    padding: 0px var(--body-padding-fraction-l) 0px var(--body-padding-fraction-l);
    border-width: 0px var(--border-ui-width) 0px var(--border-ui-width);
}
.NavMenu a:last-child {
    padding: 0px var(--body-padding-fraction-l) var(--body-padding-fraction-s) var(--body-padding-fraction-l);
    border-width: 0px var(--border-ui-width) var(--border-ui-width) var(--border-ui-width);
}

/* =======
   Content
   ======= */
table {
    border: unset;
}
td {
    border: var(--border-table-width) var(--border-table-style) var(--border-table-color);
    padding: var(--body-padding-fraction-s);
}
table[bgcolor="#ffffff"], td[bgcolor="#ffffff"] {
    background: transparent;
}

tr.tableheader, td.editheader, tr.fviewheader {
    background: var(--color-table-head-background);
    color: var(--color-table-head-text);
    font-weight: bold;
}

/* Backup status colors */
tr[bgcolor="#66cc99"],
tr[bgcolor="#ccffcc"],
tr[bgcolor="#ffcccc"],
tr[bgcolor="#ff9900"],
tr[bgcolor="#d1d1d1"],
tr[bgcolor="#ffff99"] {
    color: var(--color-highlight-text);
    background-image: repeating-linear-gradient(48.5deg,
      hsla(0, 0%, 0%, 0.02),
      hsla(0, 0%, 0%, 0.02) 16px,
      transparent 0, transparent 30px) !important;
}
tr[bgcolor="#66cc99"] { /* Status: Active/In progress */
    background: var(--color-status-active);
}
tr[bgcolor="#ccffcc"] { /* Status: Done */
    background: var(--color-status-done);
}
tr[bgcolor="#ffcccc"] { /* Status: Failed */
    background: var(--color-status-failed);
}
tr[bgcolor="#ff9900"] { /* Status: Cancelled by user */
    background: var(--color-status-cancelled);
}
tr[bgcolor="#d1d1d1"] { /* Status: Disabled */
    background: var(--color-status-disabled);
}
tr[bgcolor="#ffff99"] { /* Status: No ping */
    background: var(--color-status-noping);
}

/* Content browser */
table[width="100%"] td[valign="top"],
td[width="3%"],
td[width="30%"] td {
    border: unset;
    line-height: 13px;
}
td[width="30%"] td {
    font-family: monospace;
}
td.fview, td.fviewon, td.fviewoff, td.fviewbold {
    padding: unset;
}
td.fviewon, td.fviewon a {
    font-weight: bold;
    color: var(--color-secondary-text) !important;
}

/* Config editor */
table.editSubTable td {
    border: unset;
}
table.editSubTable table {
    border: var(--border-table-width) var(--border-table-style) var(--border-table-color);
}
td.editTabSel  {
    background-color: var(--color-secondary-background);
}
td.editTabSel a:hover, td.editTabNoSel a:hover {
    color: var(--color-heading-text) !important;
}
.editSaveButton {
    margin-bottom: var(--body-padding-fraction-l);
}
span.editError {
    border: var(--border-table-width) var(--border-table-style) var(--border-primary-rise);
    padding: calc(var(--body-padding-fraction-s) / 2) var(--body-padding-fraction-s);
    color: var(--color-highlight-text);
    background: var(--color-status-failed);
}

/* =============
   Form elements
   ============= */
form {
    margin: var(--body-padding-fraction-s) 0px;
}
input, textarea, select {
    color: var(--color-secondary-text);
    border-style: var(--border-ui-style);
    background-color: var(--border-primary-sink);
    border-width: var(--border-ui-width);
    border-color: var(--border-secondary-sink) var(--border-primary-rise) var(--border-primary-rise) var(--border-secondary-sink);
}
input, textarea {
    padding: calc(var(--body-padding-fraction-s) / 2) var(--body-padding-fraction-s);}
select {
    padding: var(--body-padding-fraction-s);
}

/* Navigation: Host selection */
.NavMenu select {
    width: 100%;
}

/* Buttons */
input[type="button"], input[type="submit"] {
    color: var(--color-highlight-text);
    background-color: var(--color-secondary-background);
    border-width: var(--border-ui-width);
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
input[type="button"]:hover, input[type="submit"]:hover {
    color: var(--color-highlight-text);
    background-color: var(--color-heading-background);
    border-color: var(--border-secondary-rise) var(--border-secondary-sink) var(--border-secondary-sink) var(--border-secondary-rise);
}
input[type="button"]:active, input[type="submit"]:active {
    color: var(--color-heading-background);
    background-color: var(--color-secondary-background);
    border-color: var(--border-secondary-sink) var(--border-primary-rise) var(--border-primary-rise) var(--border-secondary-sink);
}

/* Button: Unsaved changes */
input[style="color: rgb(255, 0, 0);"] {
    color: var(--color-highlight-text) !important;
    background-color: var(--color-status-failed);
    border-width: var(--border-ui-width);
    border-color: var(--border-secondary-rise) var(--border-secondary-sink) var(--border-secondary-sink) var(--border-secondary-rise);
}

/* Checkboxes */
input[type="checkbox"] {
    -webkit-appearance: none;
    display: unset;
    padding-left: var(--form-checkbox-size);
}
input[type="checkbox"]:checked {
    background-color: var(--color-secondary-background);
    background-size: var(--font-size);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuLjAwMSIvPjwvc3ZnPg==");
}

/* =================================
   Fix weird documentation header at
   /index.cgi?action=view&type=docs
   ================================= */
td._podblock_, table[border="0"][width="100%"][cellspacing="0"][cellpadding="3"] {
    background: var(--color-secondary-background) !important;
}
td._podblock_ {
    color: var(--color-heading-text) !important;
    text-indent: -0.4em;
    padding: 0px 0px 0px var(--body-padding);
    
    border-style: var(--border-ui-style);
    border-width: var(--border-ui-width) var(--border-ui-width) var(--border-ui-width) 0px;
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
table[border="0"][width="100%"][cellspacing="0"][cellpadding="3"] {
    font-size-adjust: .65;
    line-height: calc(var(--font-size) * 3);
    width: calc(100% + (var(--body-padding) * 2) + var(--border-ui-width));

    margin-top:  calc(var(--body-padding) * -1);
    margin-left: calc(var(--body-padding) * -1 - var(--border-ui-width));
    margin-bottom: var(--body-padding);
}
table[border="0"][width="100%"][cellspacing="0"][cellpadding="3"]:last-of-type {
    display: none;
}

/* ==================
   Font Awesome icons
   ================== */
.NavMenu a:before {
    display: inline-block;
    width: 1em;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    text-align: center;
    margin-right: var(--body-padding-fraction-l);
}

/* Computer */
.NavMenu a[href^="/index.cgi?host="]:before {
    content:"\f109";
}

.NavMenu a[href^="/index.cgi?action=browse&host="]:before {
    content:"\f0ca";
}

.NavMenu a[href^="/index.cgi?action=view&type=LOG&host="]:before {
    content:"\f15c";
}

.NavMenu a[href^="/index.cgi?action=LOGlist&host="]:before {
    content:"\f187";
}

.NavMenu a[href^="/index.cgi?action=view&type=XferLOGbad&host="]:before {
    content:"\f06a";
}

.NavMenu a[href^="/index.cgi?action=view&type=XferErrbad&host="]:before {
    content:"\f12a";
}

.NavMenu a[href^="/index.cgi?action=editConfig&host="]:before {
    content:"\f1de";
}

/* Server */
.NavMenu a[href="/index.cgi?action=status"]:before {
    content:"\f21e";
}

.NavMenu a[href="/index.cgi?action=summary"]:before {
    content:"\f233";
}

.NavMenu a[href="/index.cgi?action=editConfig"]:before {
    content:"\f1de";
}

.NavMenu a[href="/index.cgi?action=editConfig&newMenu=hosts"]:before {
    content:"\f0ad";
}

.NavMenu a[href="/index.cgi?action=adminOpts"]:before {
    content:"\f023";
}

.NavMenu a[href="/index.cgi?action=view&type=LOG"]:before {
    content:"\f15c";
}

.NavMenu a[href="/index.cgi?action=LOGlist"]:before {
    content:"\f187";
}

.NavMenu a[href="/index.cgi?action=emailSummary"]:before {
    content:"\f0e0";
}

.NavMenu a[href="/index.cgi?action=queue"]:before {
    content:"\f021";
}

.NavMenu a[href="/index.cgi?action=view&type=docs"]:before {
    content:"\f02d";
}

.NavMenu a[href="https://github.com/backuppc/backuppc/wiki"]:before {
    content:"\f08e";
}

.NavMenu a[href="/"]:before {
    content:"\f015";
}
