@import url('https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css');
@import url('https://use.fontawesome.com/releases/v6.6.0/css/all.css');

:root {
    --body-margin-v: 20px; /* Used to calculate body height */
    --body-margin-h: 40px;
    --body-margin: var(--body-margin-v) var(--body-margin-h);
    --body-padding: 20px; /* Used to calculate fractional paddings & some margins throughout the page */
    --body-padding-fraction-l: calc(var(--body-padding) / 2);
    --body-padding-fraction-s: calc(var(--body-padding) / 5);

    --width-logo: 160px; /* 50% of original */

    --font-size: 12px; /* Used to calculate fake h1 line-height in 'Documentations' */
    --font-default: var(--font-size)/1.5 "Verdana Pro", "Verdana", sans-serif;

    --font-mono: 12px/1.2 "Consolas", monospace;

    --color-heading-background: #9a97d0;
    --color-heading-text: White;

    --color-primary-background: #231e3c;
    --color-primary-text: #b2b4b2;
    --color-primary-link: #F7BA0B;
    --color-secondary-background: #514689;
    --color-secondary-text: White;
    --color-secondary-link: White;

    --color-table-head: var(--color-secondary-background);
    --color-table-head-text: White;
    --color-table-head-link: #F7BA0B;
    --color-table-progress: #00387b;
    --color-table-good: #007243;
    --color-table-warn: #C1121C;

    --color-border-table: var(--color-secondary-background);
    
    --border-width-table: 1px;
    --border-width-ui: 1px;
    --border-primary-rise: rgba(255, 255, 255, 0.2);
    --border-primary-sink: rgba(0, 0, 0, 0.2);
    --border-secondary-rise: rgba(255, 255, 255, 0.6);
    --border-secondary-sink: rgba(0, 0, 0, 0.3);
}

/***********/
/* General */
/***********/
body {
    display: flex;
    height: calc(100vh - var(--body-margin-v) * 2);
    margin: var(--body-margin);
    text-shadow: black 1px 1px;
    background: var(--color-primary-background);
}
body, table {
    color: var(--color-primary-text);
    font: var(--font-default);
}
#navigation-container {
    padding: var(--body-padding-fraction-l);
}
#Content {
    flex-grow: 1;
    padding: var(--body-padding);
}
img {
    filter: invert(.9);
}
img[src*="cgi"] {
    padding: var(--body-padding-fraction-s) 0px;
}
code, pre, tt {
    font: var(--font-mono);
    color: var(--color-secondary-text);
}
pre {
    padding: var(--body-padding-fraction-s) 0px;
}
tt {
    background: var(--color-secondary-background);
    padding: 2px 4px;
}
.editSaveButton {
    margin-bottom: var(--body-padding-fraction-l);
}

/***********/
/* Cleanup */
/***********/
p, ul {
    margin-bottom: unset;
}
a:hover {
    text-decoration: none;
}
h1 + br, /* Single br after h1 in '/backuppc/index.cgi?action=adminOpts' */
hr {
    display: none;
}

/**************/
/* UI borders */
/**************/
#navigation-container {
    border-style: solid;
    border-width: var(--border-width-ui);
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
h1 {
    border-style: solid;
    border-width: var(--border-width-ui) var(--border-width-ui) var(--border-width-ui) 0px;
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
#Content h2 {
    border-style: solid;
    border-width: var(--border-width-ui);
    border-color: var(--border-secondary-rise) var(--border-secondary-sink) var(--border-secondary-sink) var(--border-secondary-rise);
}

/************/
/* Headings */
/************/
h1, h2 {
    font-size-adjust: 0.40; 
    color: var(--color-heading-text);
}
/* h1 */
h1 {
    background: var(--color-secondary-background);
    padding: 0px var(--body-padding-fraction-s) 0px calc(var(--body-padding) + var(--border-width-ui));
}
h1:first-child {
    margin: calc(var(--body-padding) * -1) calc(var(--body-padding) * -1) var(--body-padding) calc((var(--body-padding) * -1) - var(--border-width-ui));
}
h1:not(:first-child) {
    margin: var(--body-padding) calc(var(--body-padding) * -1) var(--body-padding) calc((var(--body-padding) * -1) - var(--border-width-ui));
}
/* h2 */
#Content h2 {
    background: var(--color-heading-background);
    margin-top : calc(var(--body-padding) * 1.5);
    padding: 0px 0px 0px var(--body-padding-fraction-s);
}

/*********/
/* Links */
/*********/
/* Primary */
#Content a {
    color: var(--color-primary-link);
}
#Content a:hover {
    color: var(--color-primary-text);
}
/* Secondary */
#navigation-container a {
    display: block;
    line-height: 1.8em;
    white-space: nowrap;
    color: var(--color-secondary-link) !important;
}
#navigation-container a:hover {
    color: var(--color-primary-link) !important;
}
/* Table head */
tr.tableheader a {
    color: var(--color-table-head-link) !important;
}
tr.tableheader a:hover {
    color: var(--color-table-head-text) !important;
}

/**************/
/* Navigation */
/**************/
#NavMenu, .NavMenu {
    height: unset !important;
}
#navigation-container {
    background: var(--color-secondary-background);
    height: 100%;
}
#logo-container img {
    width: var(--width-logo);
}
h2.NavTitle {
    color: var(--color-secondary-text);
}

/**************/
/* Menu inset */
/**************/
.NavMenu a {
    padding: 0px var(--body-padding-fraction-s);
    border-style: solid;
    background-color: var(--border-primary-sink);
    border-color: var(--border-primary-sink) var(--border-primary-rise) var(--border-primary-rise) var(--border-primary-sink);
}
.NavMenu a:first-child, #NavMenu a:first-of-type {
    padding: var(--body-padding-fraction-s) var(--body-padding-fraction-l) 0px var(--body-padding-fraction-l);
    border-width: var(--border-width-ui) var(--border-width-ui) 0px var(--border-width-ui);
}
.NavMenu a:not(:first-child):not(:last-child) {
    padding: 0px var(--body-padding-fraction-l) 0px var(--body-padding-fraction-l);
    border-width: 0px var(--border-width-ui) 0px var(--border-width-ui);
}
.NavMenu a:last-child {
    padding: 0px var(--body-padding-fraction-l) var(--body-padding-fraction-s) var(--body-padding-fraction-l);
    border-width: 0px var(--border-width-ui) var(--border-width-ui) var(--border-width-ui);
}

/***********/
/* Content */
/***********/
table {
    border: unset;
}
td {
    border: var(--border-width-table) solid var(--color-border-table);
}
tr.tableheader, td.editheader {
    background: var(--color-table-head);
    color: var(--color-table-head-text);
    font-weight: bold;
}
table[bgcolor="#ffffff"], td[bgcolor="#ffffff"] {
    background: transparent;
}

/* Content browser */
table[width="100%"] td[valign="top"],
td[width="3%"],
td[width="30%"] td {
    border: unset;
    line-height: 13px;
}
td[width="30%"] td {
    font-family: monospace;
}

/***********************/
/* Table status colors */
/***********************/
tr[bgcolor="#ccffcc"] {
    background: var(--color-table-good);
}
tr[bgcolor="#ff9900"] {
    background: var(--color-table-warn);
}
tr[bgcolor="#66cc99"] {
    background: var(--color-table-progress);
}

/*************************************/
/* Fix weird documentation header at */
/* /backuppc/index.cgi?action=view&type=docs  */
/*************************************/
td._podblock_, table[border="0"][width="100%"][cellspacing="0"][cellpadding="3"] {
    background: var(--color-secondary-background) !important;
}
td._podblock_ {
    color: var(--color-heading-text) !important;
    text-indent: -0.4em;
    padding: 0px 0px 0px var(--body-padding);
    
    border-style: solid;
    border-width: var(--border-width-ui) var(--border-width-ui) var(--border-width-ui) 0px;
    border-color: var(--border-primary-rise) var(--border-primary-sink) var(--border-primary-sink) var(--border-primary-rise);
}
table[border="0"][width="100%"][cellspacing="0"][cellpadding="3"] {
    font-size-adjust: .65;
    line-height: calc(var(--font-size) * 3);
    width: calc(100% + (var(--body-padding) * 2) + var(--border-width-ui));

    margin-top:  calc(var(--body-padding) * -1);
    margin-left: calc(var(--body-padding) * -1 - var(--border-width-ui));
    margin-bottom: var(--body-padding);
}

/**********************/
/* Font Awesome Icons */
/**********************/
.NavMenu a:before {
    display: inline-block;
    width: 1em;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    text-align: center;
    margin-right: var(--body-padding-fraction-l);
}

/* Computer */
.NavMenu a[href^="/backuppc/index.cgi?host="]:before {
    content:"\f109";
}

.NavMenu a[href^="/backuppc/index.cgi?action=browse&host="]:before {
    content:"\f0ca";
}

.NavMenu a[href^="/backuppc/index.cgi?action=view&type=LOG&host="]:before {
    content:"\f15c";
}

.NavMenu a[href^="/backuppc/index.cgi?action=LOGlist&host="]:before {
    content:"\f187";
}

.NavMenu a[href^="/backuppc/index.cgi?action=view&type=XferLOGbad&host="]:before {
    content:"\f06a";
}

.NavMenu a[href^="/backuppc/index.cgi?action=view&type=XferErrbad&host="]:before {
    content:"\f12a";
}

.NavMenu a[href^="/backuppc/index.cgi?action=editConfig&host="]:before {
    content:"\f1de";
}

/* Server */
.NavMenu a[href="/backuppc/index.cgi?action=status"]:before {
    content:"\f21e";
}

.NavMenu a[href="/backuppc/index.cgi?action=summary"]:before {
    content:"\f233";
}

.NavMenu a[href="/backuppc/index.cgi?action=editConfig"]:before {
    content:"\f1de";
}

.NavMenu a[href="/backuppc/index.cgi?action=editConfig&newMenu=hosts"]:before {
    content:"\f0ad";
}

.NavMenu a[href="/backuppc/index.cgi?action=adminOpts"]:before {
    content:"\f023";
}

.NavMenu a[href="/backuppc/index.cgi?action=view&type=LOG"]:before {
    content:"\f15c";
}

.NavMenu a[href="/backuppc/index.cgi?action=LOGlist"]:before {
    content:"\f187";
}

.NavMenu a[href="/backuppc/index.cgi?action=emailSummary"]:before {
    content:"\f0e0";
}

.NavMenu a[href="/backuppc/index.cgi?action=queue"]:before {
    content:"\f021";
}

.NavMenu a[href="/backuppc/index.cgi?action=view&type=docs"]:before {
    content:"\f02d";
}

.NavMenu a[href="https://github.com/backuppc/backuppc/wiki"]:before {
    content:"\f08e";
}

.NavMenu a[href="/"]:before {
    content:"\f015";
}
