@import url('https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css');

body {
    display: flex;
    height: 100vh;
}

#NavMenu, .NavMenu {
    height: unset !important;
}
#navigation-container {
    height: 100%;
}
#navigation-container a {
    display: block;
}
#Content {
    flex-grow: 1;
}

h1 + br {
    display: none; /* Single br after h1 in /index.cgi?action=adminOpts */
}
p, ul {
    margin-bottom: unset;
}
code, pre, tt {
    font-family: monospace;
}

table {
    border: unset;
}
table[bgcolor="#ffffff"], td[bgcolor="#ffffff"] {
    background: transparent;
}

/* Content browser */
table[width="100%"] td[valign="top"],
td[width="3%"],
td[width="30%"] td {
    border: unset;
    line-height: 13px;
}
td[width="30%"] td {
    font-family: monospace;
}
